<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.22" targetFramework="net45" />
  <package id="BarcodeLib" version="1.0.0.23" targetFramework="net45" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net45" />
  <package id="WolfeReiter.iTextSharp.BC" version="4.1.6.0" targetFramework="net45" />
</packages>